/*========================= FONT ====================*/

@font-face {
  font-family: 'RockwellStd';
  src: url('fonts/RockwellStd.eot');
  src: url('fonts/RockwellStd.woff') format('woff'),
       url('fonts/RockwellStd.ttf') format('truetype'),
       url('fonts/RockwellStd.otf') format('opentype'),
       url('fonts/RockwellStd.svg') format('svg');
}